.main{
  /* border: 3px solid red; */
  display: flex;
  gap: 20px;
  background-color: black;
}

.sidebar-main{
border: 1px solid black;
width:25%;
height: 600px;
overflow: scroll;
background-color: white;
margin-left: 250px;
margin-top: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img1{
  margin-left:80%;
  height: 40px;
}
.sidebar-1{
  display: flex;
  gap: 3%;
}
.img2{
  height: 50px;
}
.sidebar-3{
  display: flex;
  gap: 3%;

}
.img3{
  height: 50px;
}
.sidebar-2{
  /* border: 1px solid blue; */
  margin-left:15%;
}
.sidebar-4{
  display: flex;
  gap: 3%;

}
.img4{
  height: 50px;
}
.sidebar-5{
  display: flex;
  gap: 3%;

}
.img5{
  height: 50px;
}
.sidebar-6{
  display: flex;
  gap: 3%;

}
.img6{
  height: 50px;
}
.sidebar-7{
  display: flex;
  gap: 3%;

}
.img7{
  height: 50px;
}
.sidebar-8{
  display: flex;
  gap: 3%;

}
.img8{
  height: 50px;
}
.subdiv-1{
  margin-left: 20%;
}
/* summary{
  color: white;
} */

details summary::-webkit-details-marker {
  display:none;
}
details summary {
  padding-left:0;
  background-image:none;

  }





  /* Url file */
  .url-main{
    background-color: white;
    overflow: scroll;
    width: 40%;
    height: 600px;
    /* border: 2px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  .url-1{
display: flex;
border: 2px solid black;

  }
  .url-2 div{
border:1px solid rgb(242,242,242);
margin-top: 2%;
border-radius: 10px;
background:rgb(242,242,242);
height: 40px;
  }
  .url-2 div h5{
    margin-top: 2%;
    margin-left: 20px;
  }
  .p1{
    margin-right: 40%;
    margin-left: 20px;
  }
  .p2{
    margin-right:4%;
  }
  .p3{
    margin-right:4%;
  }
  .p4{
    margin-right:4%;
  }
  .p5{
    margin-right:4%;
  }
  .url3{
    border:2px solid green;
    background-color: gray;
  }